<h1>CHAT - Socket.IO</h1>
  <div id="container_chat">
    <div>
      <form id="data_user">
        <div>
          <input id="name_user" type="text" placeholder="Ingresa tu nombre">
          <input id="email_user" type="text" placeholder="Ingresa tu correo">
          <input style="background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
          " type="submit" value="Ingresar al chat">
        </div>
      </form>
    </div>
    <div>
      <input type="text" id="inputtext" placeholder="Ingrese aquí su texto">
      <button id="sendSocket">Enviar</button>
      <p id="contenedor_texto" style="background-color: aqua; padding: 20px 30px; width: 100%; max-width: 500px; color: black;"></p>
    </div>
  </div>
  
  <script>
    let student = null;
    let socket = null;
    
    let input = document.getElementById("inputtext");
    let parrafo = document.getElementById("contenedor_texto");
    let button = document.getElementById("sendSocket");
    let form_data_user = document.getElementById("data_user");
    let container_chat = document.getElementById("container_chat");


    form_data_user.addEventListener("submit",e=>{
      e.preventDefault();
      student = {
        name: e.target[0].value,
        email: e.target[1].value
      }
      if(student.name == "" || student.email == ""){
        window.location.relod();
      }
      socket = io();
      socket.emit("addUser",student);
      container_chat.classList = "active";
      readSockets();
    });
    function readSockets(){
      loadChat();

      socket.on("listenserver",data =>{
        let inner = ``;
        data.forEach(element => {
          let now = new Date();
          inner+=`<b>${element.email}[${now}] :</b> ${element.mensaje} </br>`;
        });
        parrafo.innerHTML = inner;
      });
    }

    function loadChat(){
      console.log("Hola chat")
      socket.on("init",data =>{
        let inner = "";
        data.forEach(element => {
          let now = new Date();
          inner+=`<b>${element.email}[${now}] :</b> ${element.mensaje} </br>`;
        });
        parrafo.innerHTML = inner;
      });

      socket.on("loadUsers",data =>{
        console.log("Nuevo usuario");
      });
    }
    
    button.addEventListener("click",e=>{
      console.log("hola")
      let sendMessage = {
        ...student,
        mensaje: input.value
      }
      socket.emit("mensaje",sendMessage);
      input.value="";
    });
    
  </script>